[D-BUS Service]
Name=org.webosinternals.optloopservice
Exec=/usr/bin/luna-helper 'luna://com.palm.vm/launch' '{"serviceName":"org.webosinternals.optloopservice","className":"org.webosinternals.optloopservice.OptLoopService"}'